// Плавный скролл
html
	scroll-behavior: smooth

// ::selection
// 	color: #fff
// 	background-color: var(--primary-500)

html, body
	color: #001f3a
	font-family: "Raleway"
	font-feature-settings: "lnum"

button
	cursor: pointer
	outline: none
	&:focus
		outline: none
